.gate,
.log {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.gate-pw,
.log-addsong {
    position: relative; /* so gate-toprow positions relative to this */
    background-color: #e8e3dc;
    border: 2px solid #ddd8d0;
    border-radius: 0.5rem;
    min-width: 25rem; /* use width instead of padding for sizing */
    overflow: hidden; /* keeps toprow inside the rounded corners */
}

.gate-toprow,
.log-toprow {
    background-color: #b01e24;
    padding: 1rem 1.5rem;
}

.gate-toprow__lead,
.log-toprow__lead {
    font-family: 'Bebas Neue', sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin: 0;
}

.gate-toprow__x,
.log-toprow__x {
    margin-left: auto;
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.5rem;
    justify-content: center; 
}

.gate-toprow__x:hover,
.log-toprow__x:hover {
    cursor: pointer;
    color: #e8e3dc;
}

.gate-form,
.log-form {
    background-color: #e8e3dc;
    padding: 2rem 1.5rem;
    gap: 1rem;
}

.log-form__track {
    gap: 0.7rem;
    display: flex;
}

.log-form__entry {
    gap: 0.25rem;
}

.gate-form__pwd {
    font-size: 1rem;
}

.log-form__entry-lead {
    font-size: 0.75rem;
}

.gate-creds {
    gap: 0.5rem;
}

.gate-creds__input {
    height: 2rem;
    min-width: 15rem;
}

.log-form__entry-input {
    height: 1.5rem;
    min-width: 5rem;
    max-width: 10rem;
}

.log-form__entry-note {
    font-family: 'DM Mono', monospace;
    color: #9a9288;
    font-size: 0.75rem;
}

.gate-creds__enter {
    color: whitesmoke;
    background: #b01e24;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.25rem 0.75rem;
    font-weight: 500;
    height: 2.5rem;
    border: 2px solid #b01e24;
    border-radius: 0.25rem;
    margin-left: auto;
}

.log-button {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.25rem 0.75rem;
    font-weight: 500;
    height: 2rem;
    border-radius: 0.25rem;
}

.log-submit__button-cancel {
    background: #f5f2ee;
    border: 2px solid #f5f2ee;
}

.log-submit__button-enter {
    color: whitesmoke;
    background: #b01e24;
    border: 2px solid #b01e24;
}

.log-submit__button-cancel:hover {
    color: #b01e24;
    border: 2px solid #b01e24;
}

.gate-creds__enter:hover,
.log-submit__button-enter:hover {
    border: 2px solid #8f181d;
    background-color: #8f181d;
    color: #e8e3dc;
}

.gate-form__incorrect {
    font-family: 'DM Sans', sans-serif; 
    color: #b01e24;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}

.log-submit {
    padding: 1rem 1.5rem;
    border-top: 1px solid #d6cfc6;
}

.log-submit__buttons {
    gap: 0.5rem;
    margin-left: auto;
}

.log-note { 
    font-family: 'DM Sans', sans-serif; 
    letter-spacing: 0.1rem;
    font-size: 1rem;
}