.sidebar {
    display: flex;
    border-right: 1px solid #d6cfc6;
    background-color: #ede8e1;
    align-self: stretch;
    min-height: 100vh;
}

.sidebar > * + * {
    border-top: 1px solid #d6cfc6;
    padding: 0.1rem 2rem;
}

.sidebar-logo {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-weight: 450;
    letter-spacing: 0.25rem;
    padding: 0.1999rem 1.5rem;
}

.sidebar-cat__header {
    margin: 0 -2rem; /* match whatever your padding is */
    padding: 0 2rem; /* add it back so the text stays in place */
    border-bottom: 1px solid #d6cfc6;
    display: flex;
    align-items: center;
}

.sidebar-divider {
    margin: 0 -2rem;
    border-top: 1px solid #d6cfc6;
}

.sidebar-cat__lead {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #9a9288;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight: 400;
}

.sidebar-cat__arrow {
    font-size: 0.5rem; 
    color: #b8b0a6; 
    margin-left: auto; 
    padding: 0.75rem 0 0.5rem;
}

.sidebar-cat__card {
    margin-bottom: 0rem;
}

.sidebar-cat__card[data-open="false"] .sidebar-cat__arrow,
.sidebar-tag[data-open="false"] .sidebar-tags__arrow {
    transform: none;
}

.sidebar-cat__card[data-open="true"] .sidebar-cat__arrow,
.sidebar-tag[data-open="true"] .sidebar-tags__arrow {
    transform: rotate(90deg);
}

.sidebar-cat__card[data-open="true"] .sidebar-tags__list,
.sidebar-cat__card[data-open="true"] .sidebar-divider,
.sidebar-cat__card[data-open="true"] .sidebar-tags__ul {
    display: flex;
}

.sidebar-cat__card[data-open="false"] .sidebar-tags__list,
.sidebar-cat__card[data-open="false"] .sidebar-divider,
.sidebar-cat__card[data-open="false"] .sidebar-tags__ul {
    display: none;
}

.sidebar-tag[data-open="true"] .sidebar-subtag__list {
    display: flex;
    flex-direction: column;
}

.sidebar-tag[data-open="false"] .sidebar-subtag__list {
    display: none;
}

.sidebar-cat__header:hover .sidebar-cat__lead,
.sidebar-cat__header:hover .sidebar-cat__arrow,
.sidebar-cat__header,
.sidebar-tags__ul li:hover,
.sidebar-tags__header:hover,
.sidebar-tags__list li:hover,
.sidebar-subtag:hover {
    color: #b01e24;
    cursor: pointer;
}

.sidebar-tags__arrow {
    display: inline-block
}

.sidebar-tags__list,
.sidebar-tags__ul {
    font-family: 'DM Mono', monospace;
    color: #9a9288; 
    font-size: 0.75rem;
    padding: 0 0.5rem;
    gap: .25rem;
    margin-top: 0.3rem;
    display: flex;
    margin-bottom: 0.25rem;
}

.sidebar-subtag__list {
    margin-left: -1.25rem;
    margin-top: 0.1rem;
}

.sidebar-notes {
    border: none;
    font-family: 'DM Mono', monospace;
    color: #9a9288; 
    font-size: 0.75rem;
    margin-top: auto;
    padding: 2rem 1rem 1rem 1rem; /* top right bottom left */
    text-align: center;
}