.topbar {
    background-color: #ede8e1;
    border-bottom: 1px solid #d6cfc6;
    padding: 1.50rem 1.75rem;
    min-width: 20rem;
}

.topbar-searchrow {
    height: 2rem;
    display: flex;
    align-items: center;
}

.topbar-searchrow__input {
    padding: 0.25rem 0.75rem;
    height: 1.25rem;
    min-width: 20rem;
}

.topbar-searchrow__input::placeholder {
    color: #b8b0a6; 
    font-family: 'DM Mono', monospace;
    line-height: 1.2rem;
}

.topbar-searchrow__button {
    background: #f5f2ee;
    border: 0.5px solid #ccc5bb;
    border-radius: 0.25rem;
    padding: 0 1rem;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.075rem;
    height: 1.9rem;
}

.topbar-searchrow__button:hover {
    color: #b01e24;
    box-shadow: inset 0 0 0 2px #b01e24;
}

.topbar-searchrow__notes {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    min-width: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    padding-left: 1rem;
    margin-left: auto;
}

.topbar-searchrow__notes > * + *::before {
    content: "•";
    margin: 0 0.5rem; /* only right margin, no left */
    color: inherit;
}

.topbar-searchrow__notes-suggest {
    cursor: pointer; 
    text-decoration: underline;
}

.topbar-searchrow__notes-catalogued {}

.topbar-chipsrow {
    padding-top: 0.5rem;
    gap: 0.25rem;
    flex-wrap: wrap;
    max-width: 30rem;
}

.topbar-chipsrow__chip {
    display: inline-flex;
    align-items: center;
    border-radius: 0.15rem;
    background-color: #b01e24;
    padding: 0.2rem 0.625rem;
}

.topbar-chipsrow__chip:hover {
    cursor: pointer;
}

.topbar-chip__lead,
.topbar-chip__x {
    font-family: 'DM Mono', monospace;
    color: whitesmoke;
    font-weight: 400;
    text-align: left;
    font-size: 0.75rem;
}

.topbar-chip__x {
    padding-left: 0.5rem;
    color: #c4bdb5;
    font-weight: 800;
    font-size: 1rem;
}